*{
  margin: 0;
}

  header{
  background-image: url("../img/pattern.png"); 
  background-size: 400px;
  height: 100px ;
  background-color: #4EA0FF;
  background-repeat: repeat-x;
  margin-bottom: 200px;
}

.logo{
  width: 15%;
  margin-top: 40px;
  margin-left: 20px;
}

h1{
  font-size: 50px;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

header h3{
  margin-left: 20px;
  color: gray;
}

header span{
  color: #54BFEC;
}

header h4{
  margin-left: 20px;
  color: gray;
  font-size: 15px;
}

.descrizione{
  font-size: 12px;
}

section{
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

section span{
  background-color: yellow;
}

table{
  border-collapse: collapse;
  text-align: left;
}

thead{
  color: white;
  background-color: #1AABE6;
}

td{
  height: 50px;
}

.azure{
  background-color: #B2E6F2;
}



