*{
  margin: 0;
  box-sizing: border-box;
  font-family: Tahoma,Verdana,Segoe,sans-serif;
}

h1, h3, h4, main, footer{
  width: 1100px;
  margin: auto;
}

header{
  background-image: url("img/pattern.png"); 
  background-size: 400px;
  height: 100px ;
  background-color: #7ab8ff;
  background-repeat: repeat-x;
  margin-bottom: 150px;
}

.logo{
  width: 20%;
  margin-top: 30px;
  margin-left: 10%;
}

h1{
  font-size: 35px;
  margin-top: 20px;
}

header h3{
  font-size: 15px;
  color: gray;
}

header span{
  color: #54BFEC;
}

header h4{
  color: gray;
  font-size: 10px;
}

img {
  border-radius: 15px;
  margin-right: 30px;
}

.descrizione{
  font-size: 12px;
}

section{
  margin-top: 20px;
}

p{
  color: white;
  padding: 20px;
  background-color: #667197;
  border-radius: 15px;
}

ul {
  font-style: italic;
}

table{
  border-collapse: collapse;
  text-align: left;
}

thead{
  color: white;
  background-color: #7AB8FF;
}

td{
  height: 50px;
}

.azure{
  background-color: #b0d5ff;
}

footer h3{
  color: gray;
  margin-top: 30px;
  margin-bottom: 10px;
}

.container{
  position: relative;
  display: inline-block;
}

.top-left{
  position: absolute;
  color: white;
  font-size: 25px;
  top: 8px;
  left: 8px;
}
